<!DOCTYPE html>
<html>
    <!-- grand grand parent -->
<head>
    {% block head %}
        {% include "headers/meta.html" %}
        {% include "headers/stylesheets.html" %}
    {% endblock head %}
    <title>
        {% block title %}

        {% endblock title %}
    </title>

    {% block style %}
    <!-- Style tags css inside the html -->

    {% endblock style %}

</head>
<body>
    {% block event_input %}
    {% endblock event_input %}
    <div id="page">

        <div id="header">
            {% block header %}
            {% endblock header %}
        </div>

        <div id="navigation">
            {% block navigation %}
            {% endblock navigation %}
        </div>

        <div id="content">
            {% block content %}

            {% endblock content %}
        </div>
        <div id="footer">
            {% block footer %}
            {% endblock footer %}
        </div>
    </div>
</body>

</html>